<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.14/leaflet.draw.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <link th:href="@{/style.css}" rel="stylesheet" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.14/leaflet.draw.js"></script>
    <script src='https://unpkg.com/@turf/turf@6/turf.min.js'></script>
    <title>Test Message Sender</title>
</head>

<body>
    <div class="container">
        <div class="side">
            <h3 class="sideItem">BSM Template</h3>
            <div class="sideItem jsonDocument" id="bsmTemplate" contenteditable="true" spellcheck="false">
            </div>
            <h3 class="sideItem">SPAT Template</h3>
            <div class="sideItem jsonDocument" id="spatTemplate1" contenteditable="true" spellcheck="false">
                Spat document
            </div>
        </div>


        <div id="map">
        </div>
        <div class="side">
            <div class="sideItem">


                <div>
                    <h3>Upload ODE Json</h3>
                    <p>(OdeMapData, OdeSpatData, OdeBsmData formats)</p>
                    <div>
                        <hr />
                        Upload BSMs (line-delimited JSON)
                        <input type="file" accept=".jsonl,.ndjson,.csv,.txt" onchange="uploadBsms(this);" />
                    </div>
                    <div>
                        <hr />
                        Upload BSM template
                        <input type="file" id="btnTemplateUpload" accept=".json" onchange="uploadBsmTemplate(this);" />
                    </div>
                    <div>
                        <hr />
                        Upload MAP JSON
                        <input type="file" id="btnOdeMapJsonUpload" accept=".json,.csv,.jsonl,.ndjson"
                            onchange="uploadOdeMapJson(this);" />
                    </div>
                    <div>
                        <hr />
                        Upload SPATs (line-delimited JSON)
                        <input type="file" accept=".jsonl,.ndjson,.csv" onchange="uploadSpats(this);" />
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Send</h3>


                    <div id="mapControls">
                        <hr />
                        <button type="button" onclick="startSendingMap();">Start sending MAP</button>
                        <button type="button" onclick="stopSendingMap();">Stop sending MAP</button>
                        <br />
                        <input type="range" min="500" max="1500" value="1000" step="50" name="mapInterval"
                            id="mapInterval" oninput="this.nextElementSibling.value = this.value" />
                        <output>1000</output>
                        <br />
                        <label for="mapInterval">MAP Interval (ms)</label>

                    </div>

                    <div id="spatControls">
                        <hr />
                        <button type="button" onclick="startSendingSpat();">Start sending SPAT</button>
                        <button type="button" onclick="stopSendingSpat();">Stop sending SPAT</button>
                        <br />
                        <input type="range" min="50" max="150" value="100" step="5" name="spatInterval"
                            id="spatInterval" oninput="this.nextElementSibling.value = this.value" />
                        <output>100</output>
                        <br />
                        <label for="spatInterval">SPAT Interval (ms)</label>
                        <hr />
                        <button type="button" onclick="sendSpats();">Send SPATs (Real Time)</button>
                        <button type="button" onclick="stopSendingSpats();">Stop Sending Spats</button>
                    </div>

                    <div id="bsmControls">
                        <hr />
                        <button type="buttom" onclick="sendBsmsRealTime();">Send BSMs (Real Time)</button>
                        <button type="button" onclick="stopSendingBsms();">Stop Sending BSMs</button>
                    </div>
                    <div>
                        <hr />
                        <button type="button" onclick="sendBsms();">Send BSMs (All at once)</button>
                    </div>
                </div>
                <hr />
                <div>
                    <h2>Download</h2>
                    <div>
                        <button type="button" onclick="downloadBsms();">Download BSMs (line-delimited JSON)</button>
                    </div>
                </div>
                <hr />
            </div>

        </div>
    </div>
</body>
<script>

    var map = L.map('map').setView([39.5952649, -105.0914122], 19);

    /* Base Maps */
    var osmUrl = 'https://tile.openstreetmap.org/{z}/{x}/{y}.png';
    var osmAttrib = '&copy; <a href="http://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a>';
    var googUrl = 'https://mt1.google.com/vt/lyrs=y&x={x}&y={y}&z={z}';
    var googAttrib = 'Google Maps';


    var oamAttrib = '<a href="http://openaerialmap.org/about/" target="_blank">Open Aerial Map</a>';

    /* See https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#javascript-inlining */
    var mapboxUrl = '[(${mapboxTileEndpoint})]';
    console.log(mapboxUrl);
    var mapboxAttrib = 'Mapbox';

    var empty = L.tileLayer('', { maxZoom: 22 });
    var osm = L.tileLayer(osmUrl, { maxZoom: 19, attribution: osmAttrib });
    var goog = L.tileLayer(googUrl, { maxZoom: 22, attribution: googAttrib });
    var mapbox = L.tileLayer(mapboxUrl, { maxZoom: 22, attribution: mapboxAttrib });


    // Open Aerial Map
    const oamUrlArr = [
        'https://tiles.openaerialmap.org/5bcf6b6a91037900144c3d6e/0/5bcf6b6a91037900144c3d9d/{z}/{x}/{y}',
        'https://tiles.openaerialmap.org/5bcf6b6a91037900144c3d6e/0/5bcf6b6a91037900144c3dc3/{z}/{x}/{y}',
        'https://tiles.openaerialmap.org/5bcf6b6a91037900144c3d6e/0/5bcf6b6a91037900144c3dc5/{z}/{x}/{y}',
        'https://tiles.openaerialmap.org/5bcf6b9191037900144c3dd4/0/5bcf6b9191037900144c3dec/{z}/{x}/{y}',
        'https://tiles.openaerialmap.org/5bcf6b9191037900144c3dd4/0/5bcf6b9191037900144c3dee/{z}/{x}/{y}',
        'https://tiles.openaerialmap.org/5bcf6bb491037900144c3e3a/0/5bcf6bb491037900144c3e9d/{z}/{x}/{y}',
        'https://tiles.openaerialmap.org/5bcf6bb491037900144c3e3a/0/5bcf6bb491037900144c3e9f/{z}/{x}/{y}',
        'https://tiles.openaerialmap.org/5bcf6b6a91037900144c3d6e/0/5bcf6b6a91037900144c3dc0/{z}/{x}/{y}',
        'https://tiles.openaerialmap.org/5bcf6b6a91037900144c3d6e/0/5bcf6b6a91037900144c3dc2/{z}/{x}/{y}',
        'https://tiles.openaerialmap.org/5bcf6b9191037900144c3dd4/0/5bcf6b9191037900144c3de9/{z}/{x}/{y}',
        'https://tiles.openaerialmap.org/5bcf6b9191037900144c3dd4/0/5bcf6b9191037900144c3deb/{z}/{x}/{y}',
        'https://tiles.openaerialmap.org/5bcf6bb491037900144c3e3a/0/5bcf6bb491037900144c3e9a/{z}/{x}/{y}',
        'https://tiles.openaerialmap.org/5bcf6bb491037900144c3e3a/0/5bcf6bb491037900144c3e9c/{z}/{x}/{y}',
        'https://tiles.openaerialmap.org/5bcf6b6a91037900144c3d6e/0/5bcf6b6a91037900144c3d9b/{z}/{x}/{y}',
        'https://tiles.openaerialmap.org/5bcf6b6a91037900144c3d6e/0/5bcf6b6a91037900144c3d75/{z}/{x}/{y}',
        'https://tiles.openaerialmap.org/5bcf6b6a91037900144c3d6e/0/5bcf6b6a91037900144c3d9d/{z}/{x}/{y}',
        'https://tiles.openaerialmap.org/5bcf6b6a91037900144c3d6e/0/5bcf6b6a91037900144c3d76/{z}/{x}/{y}',
        'https://tiles.openaerialmap.org/5bcf6bd791037900144c3ea0/0/5bcf6bd791037900144c3ec2/{z}/{x}/{y}',
        'https://tiles.openaerialmap.org/5bcf6bd791037900144c3ea0/0/5bcf6bd791037900144c3ec4/{z}/{x}/{y}',
        'https://tiles.openaerialmap.org/5bcf6bd791037900144c3ea0/0/5bcf6bd791037900144c3ec5/{z}/{x}/{y}',
        'https://tiles.openaerialmap.org/5bcf6bd791037900144c3ea0/0/5bcf6bd791037900144c3ee7/{z}/{x}/{y}',
        'https://tiles.openaerialmap.org/5bcf6bd791037900144c3ea0/0/5bcf6bd791037900144c3ee6/{z}/{x}/{y}',
        'https://tiles.openaerialmap.org/5bcf6bd791037900144c3ea0/0/5bcf6bd791037900144c3ee8/{z}/{x}/{y}',
        'https://tiles.openaerialmap.org/5bcf6bd791037900144c3ea0/0/5bcf6bd791037900144c3efe/{z}/{x}/{y}',
        'https://tiles.openaerialmap.org/5bcf6bd791037900144c3ea0/0/5bcf6bd791037900144c3ee9/{z}/{x}/{y}',
        'https://tiles.openaerialmap.org/5bcf6b6a91037900144c3d6e/0/5bcf6b6a91037900144c3d9c/{z}/{x}/{y}'
    ];
    const oamLayerArr = [];
    for (const oamUrl of oamUrlArr) {
        oamLayerArr.push(L.tileLayer(oamUrl, { maxZoom: 23, minZoom: 15, attribution: oamAttrib }));
    }
    const oam = L.layerGroup(oamLayerArr);

    const drawnItems = new L.FeatureGroup();

    const bsmList = [];  /* Array of timestamps/ BSM locations */

    const baseMaps = {
        'No Base Map': empty,
        'Google Hybrid': goog,
        'Mapbox Satellite Streets': mapbox,
        'Open Street Map (zoom <= 19)': osm.addTo(map)   // Default added to map
    };

    const overlayMaps = {
        'Open Aerial Map (zoom >= 15)': oam.addTo(map),  // Show by default
        'Draw BSM Layer': drawnItems
    };



    var layerControl = L.control.layers(baseMaps, overlayMaps, {
        positiion: 'topright', collapsed: false
    }).addTo(map);


    /* Shape draw controls */

    map.addLayer(drawnItems);



    var drawControl = new L.Control.Draw({
        position: 'topleft',
        draw: {
            polyline: false,
            polygon: false,
            rectangle: false,
            circle: false,
            marker: false,
            circlemarker: {
                color: '#f00',
                fillOpacity: 0.9,
                stroke: false,
                radius: 5
            }
        },
        edit: {
            featureGroup: drawnItems,
            remove: true
        }
    });
    map.addControl(drawControl);


    map.on(L.Draw.Event.CREATED, function (e) {
        var type = e.layerType,
            layer = e.layer;
        if (type == 'circlemarker') {

            drawnItems.addLayer(layer);
            console.log('Placed point');
            console.log(layer);

            var lon = layer._latlng.lng;
            var lat = layer._latlng.lat;

            /* Save the coordinates with the current timestamp */
            var ts = Date.now();
            var bsm = { timestamp: ts, coords: [lon, lat], heading: 0, speed: 0 };

            var prevBsm = bsmList.length > 0 ? bsmList[bsmList.length - 1] : null;
            var prevCoords = prevBsm?.coords;
            var prevTimestamp = prevBsm?.timestamp;
            var prevMsgCnt = prevBsm != null ? prevBsm.msgCnt : 0;
            var msgCnt = (prevMsgCnt + 1) % 128;

            // Get Origin IP and temp ID from template
            const bsmTemplate = getCurrentBsmTemplate();
            var originIp = bsmTemplate.metadata.originIp;
            var id = bsmTemplate.payload.data.coreData.id;

            let heading = 0;
            let speed = 0;
            if (prevCoords != null && prevTimestamp != null) {
                [heading, speed] = getHeadingAndSpeed(prevCoords, [lon, lat], prevTimestamp, ts);
                heading = Math.round(heading * 10) / 10;
                speed = Math.round(speed * 100) / 100;
            }
            var bsm = { odeReceivedAt: ts, timestamp: ts, coords: [lon, lat], heading: heading, speed: speed, id: id, msgCnt: msgCnt, originIp: originIp };

            /* Tag the layer with the bsm timestamp so we can find it to update or delete */
            layer.bsmTimestamp = ts;

            bsmList.push(bsm);
            //console.log(bsmList);

            /* Keep circlemarker button in edit mode
               TODO Figure out some way to do this other than this hack */
            throw 'Throwing exception to keep the circlemarker in edit mode.  Not ideal but it works.'

        } else {
            console.log('layerType ' + type + ' not used');
        }
    });


    map.on('draw:edited', function (e) {
        /* TODO update bsmList */
        console.log(e);

    });

    map.on('draw:deleted', function (e) {
        console.log(e);
        /* Remove all items */
        bsmList.length = 0;
        /* TODO: Don't assume all items were deleted */
    });

    async function getMapGeojson() {
        //const response = await fetch('map_wadsworth_and_coalmine.geojson');
        const response = await fetch('MAP_wadsworth_and_coalmine.json');
        const mapJson = await response.json();
        odeMapJsonToGeojson(JSON.stringify(mapJson));
        // setMapGeojson(mapJson.mapFeatureCollection);
        // setConnectingLanesGeojson(mapJson.connectingLanesFeatureCollection);

    }

    async function getBsmTemplate() {
        const response = await fetch('BSMTemplate.json');
        const text = await response.text();
        setBsmTemplate(text);
    }

    function setBsmTemplate(text) {
        var json = JSON.parse(text);
        document.getElementById("bsmTemplate").innerText = JSON.stringify(json, null, 2);
    }

    let geojsonLayer = undefined;
    let connectingLayer = undefined;

    function setMapGeojson(mapGeojson) {
        console.log("MAP Geojson:");
        console.log(mapGeojson);
        if (geojsonLayer) {
            map.removeLayer(geojsonLayer);
            layerControl.removeLayer(geojsonLayer);
        }
        geojsonLayer = L.geoJSON(mapGeojson, {
            style: {
                color: '#f0f',
                width: '1px',
                opacity: 1
            },
            onEachFeature: addPropertiesTooltip
        }).addTo(map);
        layerControl.addOverlay(geojsonLayer, 'MAP Geojson');
    }

    function setConnectingLanesGeojson(connectingGeojson) {
        console.log("MAP Connections:");
        console.log(connectingGeojson);
        if (connectingLayer) {
            map.removeLayer(connectingLayer);
            layerControl.removeLayer(connectingLayer);
        }
        connectingLayer = L.geoJSON(connectingGeojson, {
            style: {
                color: '#0f0',
                width: '1px',
                opacity: 1
            },
            onEachFeature: addPropertiesTooltip
        }).addTo(map);
        layerControl.addOverlay(connectingLayer, "Connections");
    }

    function addPropertiesTooltip(feature, layer) {
        let popupContent = '';
        for (const key in feature.properties) {
            const val = feature.properties[key];
            // Include numbers only
            if (typeof val != 'boolean' && !isNaN(val)) {
                popupContent += key + ' = ' + val + '<br/>';
            }
        }
        layer.bindPopup(popupContent, { autoClose: false, closeOnClick: false });
    }


    getMapGeojson();
    getBsmTemplate();

    function sendBsms() {
        if (bsmList.length < 1) return;
        console.log("sendBsms with no delay");
        sendBsmListRealTime(bsmList, true);    // No delay
    }

    function sendBsmsRealTime() {
        if (bsmList.length < 1) return;
        console.log("sendBsmsRealTime");
        sendBsmListRealTime(bsmList, false);  // Calculate delay
    }

    const MAX_DELAY = 5000;

    function sendBsmListRealTime(theBsmList, noDelay) {
        BSM_SEND = true;
        document.getElementById('bsmControls').style = 'background-color:lightgreen';

        // Set the timestamps to start 500 ms from now
        const startIn = 500;
        const now = Date.now();
        const firstTimestamp = theBsmList[0].odeReceivedAt;
        let offset = now - firstTimestamp + startIn;
        for (const bsm of theBsmList) {
            bsm.timestamp += offset;
            bsm.odeReceivedAt += offset;
        }

        const bsmTemplate = getCurrentBsmTemplate();

        let idx = 0;

        // Send each with timer
        let nextTime = startIn;
        console.log("Sending BSM in " + nextTime + " ms");
        let correctionOffset = 0;
        setTimeout(function sendBsmTimed() {
            if (!BSM_SEND) return;
            const bsm = theBsmList[idx];
            const id = bsm.id;
            const postDataItem = buildBsmFromTemplate(bsm, bsmTemplate);
            sendBsmAsync(postDataItem).then(successCallback, failureCallback);
            if (idx < theBsmList.length - 1) {
                ++idx;
                const nextBsm = theBsmList[idx];
                nextTime = nextBsm.odeReceivedAt - Date.now() - correctionOffset;

                if (nextTime < 0) {
                    nextTime = 0;
                    if (nextTime < -MAX_DELAY) {
                        correctionOffset = 0;
                    }
                }

                if (nextTime > MAX_DELAY) {
                    correctionOffset = nextTime - MAX_DELAY;
                    nextTime = MAX_DELAY;
                    //offset = Date.now() - nextBsm.odeReceivedAt;
                }
                nextTime = noDelay ? 0 : nextTime;
                console.log("Sending BSM id = " + id + " in " + nextTime + " ms");
                setTimeout(sendBsmTimed, noDelay ? 0 : nextTime);
            } else {
                console.log("Completed Sending BSMs with id = " + id);
                stopSendingBsms();
            }
        }, nextTime);
    }

    var BSM_SEND = true;

    function stopSendingBsms() {
        BSM_SEND = false;
        document.getElementById('bsmControls').style = '';
    }

    function buildBsmFromTemplate(bsm, bsmTemplate) {
        // Copy via serialization
        const bsmJson = JSON.stringify(bsmTemplate);
        const bsmObj = JSON.parse(bsmJson);
        bsmObj.payload.data.coreData.id = bsm.id;
        bsmObj.payload.data.coreData.msgCnt = bsm.msgCnt;
        if (bsm.speed > 0) {
            bsmObj.payload.data.coreData.speed = bsm.speed;
        }
        if (bsm.heading > 0) {
            bsmObj.payload.data.coreData.heading = bsm.heading;
        }
        bsmObj.payload.data.coreData.position.longitude = bsm.coords[0];
        bsmObj.payload.data.coreData.position.latitude = bsm.coords[1];
        const dt = new Date(bsm.timestamp);
        const dtMillis = dt.getTime();
        const dtMinute = new Date(dt.getFullYear(), dt.getMonth(), dt.getDate(), dt.getHours(), dt.getMinutes(), 0, 0);
        const minuteMillis = dtMinute.getTime();
        const millis = dtMillis - minuteMillis;
        bsmObj.payload.data.coreData.secMark = millis;
        bsmObj.metadata.originIp = bsm.originIp;


        bsmObj.metadata.odeReceivedAt = new Date(bsm.odeReceivedAt).toISOString();
        return bsmObj;
    }

    async function sendBsmAsync(postDataItem) {
        const response = await fetch('/kafka/topic.OdeBsmJson', {
            method: 'POST',
            cache: 'no-cache',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(postDataItem)
        });
        return response;
    }







    function getCurrentBsmTemplate() {
        let bsmTemplateObj = null;
        try {
            let bsmText = document.getElementById("bsmTemplate").innerText;
            bsmTemplateObj = JSON.parse(bsmText);
        } catch {
            /* Ignore exception if there is no bsm template */
        }
        return bsmTemplateObj;
    }

    function successCallback(e) {
        //console.log("success");
        //console.log(e);
    }

    function failureCallback(e) {
        console.log("failure");
        console.log(e);
    }

    function uploadBsms(e) {
        console.log("uploadBsms");


        if (e?.files.length > 0) {
            let file = e.files[0];

            file.text().then(text => {
                // Clear exising bsms
                bsmList.length = 0;
                const lines = text.split(/\r?\n/);

                // Set the first BSM as the template
                setBsmTemplate(lines[0]);

                for (const line of lines) {
                    if (line) {
                        const json = JSON.parse(line);
                        //console.log(json);
                        var bsm = extractBsmData(json);
                        bsmList.push(bsm);
                        addCircleMarker(bsm);
                    }
                }

                console.log("Uploaded " + bsmList.length + " BSMs");

                // Find distinct BSM IDs
                const idList = bsmList.map((value, idx, arr) => value.id + '');
                const idSet = new Set();
                for (const id of idList) {
                    idSet.add(id);
                }
                console.log("idSet");
                console.log(idSet);

                // Sort by ode ingest time
                bsmList.sort((a, b) => a.odeReceivedAt - b.odeReceivedAt);
            });
        }
    }

    function extractBsmData(json) {
        const dtReceivedAtMillis = Date.parse(json.metadata.odeReceivedAt);
        const dt = new Date(dtReceivedAtMillis);
        //console.log(dt);
        const minuteMillis = Date.UTC(dt.getUTCFullYear(), dt.getUTCMonth(), dt.getUTCDate(), dt.getUTCHours(), dt.getUTCMinutes(), 0, 0);
        const coreData = json.payload.data.coreData;
        const secMark = coreData.secMark;
        const millis = minuteMillis + secMark;

        const position = coreData.position;
        const lon = position.longitude;
        const lat = position.latitude;

        const heading = coreData.heading;
        const speed = coreData.speed;
        const id = coreData.id + ''; // Cast to string
        const msgCnt = coreData.msgCnt;

        const originIp = json.metadata.originIp;


        const bsm = { odeReceivedAt: dtReceivedAtMillis, timestamp: millis, coords: [lon, lat], heading: heading, speed: speed, id: id, msgCnt: msgCnt, originIp: originIp };
        //console.log(bsm);
        return bsm;
    }

    function addCircleMarker(bsm) {
        const latlng = L.latLng(bsm.coords[1], bsm.coords[0]);
        const options = {
            color: '#f00',
            fillOpacity: 0.9,
            stroke: false,
            radius: 5
        };
        const circlemarker = L.circleMarker(latlng, options);
        drawnItems.addLayer(circlemarker);
    }



    function uploadBsmTemplate(e) {
        console.log("uploadBsmTemplate")
        if (e?.files.length > 0) {
            let file = e.files[0];
            // console.log(file);
            // let objUrl = window.URL.createObjectURL(file);
            // console.log(objUrl);
            file.text().then(text => {
                setBsmTemplate(text);
            });
        }
    }

    function uploadMapGeojson(e) {
        console.log("uploadMapGeojson");
        if (e?.files.length > 0) {
            let file = e.files[0];
            // let objUrl = window.URL.createObjectURL(file);
            file.text().then(text => {
                var json = JSON.parse(text);
                console.log(json);
                setMapGeojson(json.mapFeatureCollection);
                setConnectingLanesGeojson(json.connectingLanesFeatureCollection);
            });
        }
    }

    function uploadOdeMapJson(e) {
        console.log("uploadOdeMapJson");
        if (e?.files.length > 0) {
            let file = e.files[0];
            console.log("MAP JSON File:");
            console.log(file);
            file.text().then(text => odeMapJsonToGeojson(text));
        }
    }

    var odeMapTemplate;

    function odeMapJsonToGeojson(text) {
        odeMapTemplate = JSON.parse(text);
        odeMapJsonToGeojsonAsync(text).then(
            response => response.json(),
            failureCallback
        ).then(
            // Success callback
            json => {
                console.log(json);
                setMapGeojson(json.mapFeatureCollection);
                setConnectingLanesGeojson(json.connectingLanesFeatureCollection);
            },
            failureCallback
        );
    }

    async function odeMapJsonToGeojsonAsync(json) {
        const response = await fetch('/odeMapJsonToGeojson', {
            method: 'POST',
            cache: 'no-cache',
            headers: {
                'Content-Type': 'application/json'
            },
            body: json
        });
        return response;
    }

    var MAP_SEND = true;

    function startSendingMap() {
        MAP_SEND = true;
        document.getElementById('mapControls').style = 'background-color:lightgreen';
        var intervalMs = document.getElementById('mapInterval').value;
        setTimeout(function sendMapTimed() {
            if (!MAP_SEND) return;
            intervalMs = document.getElementById('mapInterval').value;
            const odeMap = buildMapFromTemplate(odeMapTemplate);
            console.log("Sending MAP, next " + intervalMs);
            sendMapAsync(odeMap).then(successCallback, failureCallback);
            setTimeout(sendMapTimed, intervalMs);
        }, intervalMs)
    }

    function stopSendingMap() {
        MAP_SEND = false;
        document.getElementById('mapControls').style = '';
    }

    async function sendMapAsync(odeMap) {
        const response = await fetch('/kafka/topic.OdeMapJson', {
            method: 'POST',
            cache: 'no-cache',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(odeMap)
        })
    }

    function buildMapFromTemplate() {
        let mapCopy = JSON.parse(JSON.stringify(odeMapTemplate));
        const nowMillis = Date.now();
        mapCopy.metadata.odeReceivedAt = new Date(nowMillis).toISOString();
        return mapCopy;
    }

    function getHeadingAndSpeed(coords1, coords2, millis1, millis2) {
        var point1 = turf.point(coords1);
        var point2 = turf.point(coords2);
        var heading = turf.bearingToAzimuth(turf.bearing(point1, point2));
        var distanceMeters = turf.distance(point1, point2, { units: 'kilometers' }) * 1000;
        var tSeconds = (millis2 - millis1) / 1000;
        var speed = distanceMeters / tSeconds;
        return [heading, speed];
    }

    function downloadText(filename, text) {
        var e = document.createElement('a');
        e.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
        e.setAttribute('download', filename);
        e.style.display = 'none';
        document.body.appendChild(e);
        e.click();
        document.body.removeChild(e);
    }

    function downloadBsms() {
        let ldjson = '';
        const bsmTemplate = getCurrentBsmTemplate();
        for (const bsm of bsmList) {
            const postDataItem = buildBsmFromTemplate(bsm, bsmTemplate);
            ldjson += JSON.stringify(postDataItem) + '\n';
        }
        downloadText('BSMData.jsonl', ldjson);
    }






</script>

</html>